@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.wrapper .header {
  height: 81px;
  width: 1215px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header__logo-wrapper {
  width: 203px;
  height: 28px;
  margin-top: 40px;
}

.wrapper .header__navigation {
  width: 515px;
  height: 38px;
  margin-top: 41.5px;
}

.wrapper .header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10.5px;
  padding-right: 10px;
}

.wrapper .header .navigation__item {
  display: inline-block;
  text-decoration: none;
  height: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper .header .navigation__item:last-child {
  width: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header .navigation__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.wrapper .header .navigation__item-arrowimage {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: 7.5px;
}

.wrapper .screen-first {
  width: 1215px;
  height: 685px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .screen-first__avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 40px;
}
